{% extends 'base.html.twig' %}

{% block body %}
	<div class="container py-3">
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="{{post.image}}" class="card-img" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{post.title}}
							<small>({{post.year}})</small>
						</h5>
						<p class="card-title">
							{{post.duration}}
						</p>
						<p class="card-text">{{post.director}}
						</p>
						<p class="card-text">{{post.actors}}
						</p>
						<p class="card-text">{{post.country}}
						</p>
						<p class="card-text">{{post.type}}
						</p>
						<p class="card-text">{{post.review}}</p>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
