{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% for item in items %}
		<div class="container">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="{{item.image}}" class="card-img" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{item.title}}
								-
								{{item.year}}</h5>
							<br>
							<h5 class="card-title">{{item.duration}}
							</h5>
							<br>
							<h5 class="card-title">{{item.director}}
							</h5>
							<br>
							<h5 class="card-title">{{item.actors}}
							</h5>
							<br>
							<h5 class="card-title">{{item.country}}
							</h5>
							<br>
							<h5 class="card-title">{{item.type}}
							</h5>
							<br>
							<p class="card-text">{{item.review | u.truncate(64, '...')}}</p>
							<a href="{{ path('content_from_id', {'id':item.id}) }}" class="btn btn-primary">
								Lire la suite
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	{% endfor %}
{% endblock %}
